
@* <div class="d-flex employee-container"> *@
@*     <p><span>Id : </span>@.Id</p> *@
@*     <p><span>FirstName : </span>@employee.FirstName</p> *@
@*     <p><span>LastName : </span>@employee.LastName</p> *@
@*     <p><span>NationalCode : </span>@employee.NationalCode</p> *@
@*     <a class="btn btn-dark" asp-controller="Employee" asp-action="AddLeave">Add Leave + </a> *@
@* </div> *@

@* <form method="post" asp-controller="Employee" asp-action="Create"> *@
@*     <input type="text" asp-for="FirstName" /> *@
@*     <input type="text" asp-for="LastName" /> *@
@*     <input type="text" asp-for="NationalCode" /> *@
@*     <button type="submit" class="btn btn-primary">Submit</button> *@
@* </form> *@
@* @if (ViewData["ExceptionMessage"] != null) *@
@* { *@
@*     <div class="alert alert-danger">@ViewData["ExceptionMessage"]</div> *@
@* } *@

@{
}
