.employee-container {
    border: 1px solid black;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    height: 100%;
}

p {
    margin: 0;
}