
@model IEnumerable<EmployeeDto>
@{
    
}
<div>
    @foreach (var employee in Model)
    {
        <div class="d-flex employee-container">
            <p><span>Id : </span>@employee.Id</p>
            <p><span>FirstName : </span>@employee.FirstName</p>
            <p><span>LastName : </span>@employee.LastName</p>
            <p><span>NationalCode : </span>@employee.NationalCode</p>
        </div>
    }
    
    <a class="btn btn-primary" asp-controller="Employee" asp-action="Create">Create Employee</a>
</div>